<h1>
        Codiel / <%= title %>
</h1>
<section>
        <h4>Posts</h4>
        <form action="" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here... "></textarea>
                <input type="submit" value="Post">
        </form>
</section>
  
