<h1>
        Codiel / <%= title %>
</h1>
<section>
        <h4>Posts</h4>
        <% if (locals.user) { %>
         
                <form action="/post/create" method="post">
                        <textarea name="content" cols="30" rows="3" placeholder="Type Here... "></textarea>
                        <input type="submit" value="Post">
                </form>
        <% } %>

</section>

<% for( post of posts) { %>
        <div>
                
                <p> <h5><%= post.user.name %> </h5><%= post.content %>  </p>
        </div>
<% } %>
  
