<h1>Sign-up</h1>
<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="name" id="" required>
    <input type="email" name="email" placeholder="email" id="" required>
    <input type="password" name="password" placeholder="password" required id="">
    <input type="password" name="confirm_password" placeholder="confirm password" required id="">
    <input type="submit" value="sign up">
</form>