<h1>sign in</h1>
<form action="/users/create-session" method="post">
    <input type="text" name="username" placeholder="username" id="" required>
    <input type="password" name="password" placeholder="password" required id="">
    <input type="submit" >
</form>